.bg-color{
 background-color: black;
 color: white;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
}
#myform input{
  display: flex;
  justify-content: center;
  align-items: center;
}

