.bg-color{
 background-color: black;
 color: white;
}
.error{
  color: rgb(186, 3, 3);
}
.success{
  color: green;
}
.visit{
  color: orange;
}
div{
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(226, 215, 238);
  height: 22rem;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
}
h2{
  text-align: center;
}
label{
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-color{
  background-color: rgb(27, 5, 50);
}
